[2016-06-14 19:01] ChristianLJ opened #1 "Achieving the same behavior in a fragment?"
I have a navigation drawer with fragments where one of the fragments inflates a Google Maps fragment.

Is it possible to achieve the same behaviour when using the same setup as i do?

[2016-06-14 21:22] miguelhincapie commented on #1
Hi ChristianLJ,

Yes, its possible.
1. About the Map:

   If you see [activity_main.xml](https://github.com/miguelhincapie/CustomBottomSheetBehavior/blob/master/app/src/main/res/layout/activity_main.xml) you will find that I'm using a dummy FrameLayout and below it I have commented the real one that use a map.
   In other words you can use whatever you want :)
2. About Fragment:
   I used regular

[2016-06-16 17:40] miguelhincapie commented on #1
@ChristianLJ can you tell me please if you got it or if you need help?

[2016-07-04 16:41] helmifluida opened #2 "How to click button in mainActivity to expanded BottomSheet"

[2016-07-13 15:39] #1 closed

[2016-07-13 16:00] miguelhincapie commented on #2
Hello there,

You can do it following next steps:
1. Move the objet: `BottomSheetBehaviorGoogleMapsLike behavior` variable from `onCreate` on mainActivity to be a member class variable.
2. Create a clickable element in mainActivity XML (like a `Button`), set `setOnClickListener` method with this line of code: `behavior.setState(BottomSheetBehaviorGoogleMapsLike.STATE_EXPANDED);`

That's all. Tell

[2016-07-19 23:39] barbeau opened #4 "License?"
This project is a great example!

Could you please add an open-source license to the project?

I'd prefer Apache 2.0 if possible.  Thanks!

[2016-07-20 05:02] miguelhincapie commented on #4
Though I was used same as google apis, anyway its open-source but I will add it in README :D

[2016-07-20 19:41] miguelhincapie commented on #4
Ready, I just copy paste Apache license from google's code.
Like I change in README, just give me vote up in stackoverflow: [question and answer about it](http://stackoverflow.com/q/37335366/1332549)

[2016-07-20 20:04] barbeau commented on #4
Thanks!  I upvoted :).  Looks like you added the license in https://github.com/miguelhincapie/CustomBottomSheetBehavior/commit/dfbfb8624741e48fb182277cc4b5e94cf7c1f556, so I'll close this issue.

Thanks again!

[2016-07-20 20:04] #4 closed

[2016-07-25 00:56] gp01kkky opened #5 "Content does not display correctly after changing the text"
Hi, Thank for sharing this

I have a problem changing the default text. After changing the text, it appears that it does not display it correctly with wrap_content not updating to the correct size and the default cheese image does not appear. Do you have any idea?

[2016-07-25 02:53] miguelhincapie commented on #5
Hi,
Explain me a little bit about wich text are u trying to change please.

[2016-07-25 07:16] gp01kkky commented on #5
Hi, I figured out that it is the wrap_content that uses previous size which was not updated after the length of text has changed in the bottom_sheet_content.xml layout. Managed to solve it by using the code here https://github.com/ea167/android-layout-wrap-content-updater.

But another problem is the cheese image does not appear when dragged up. I need to touch the top bar to make it appears. In m

[2016-07-25 15:27] miguelhincapie commented on #5
Give me a few days and I will check it, I have a lot of work this week :S

[2016-07-25 15:54] gp01kkky commented on #5
Hi, sure thanks a lot.

Hope you are able to replicate the problem. I think the problem still lies on 1) the content is not invalidated when I change the image source. 2) Cannot drag the bottomsheet down when touch on the image area because touch is registered in the layout underneath. If possible can you show how I can modify it to show multiple images with the slide just like in google map.

[2016-07-27 01:43] akaN44 commented on #5
I'll take a look as well as soon as I have spare time. For the ImageView not draggable in fact it has never been at this moment it's one of the major issue. I'll work on it. If you want to have multiple image like Google maps, You can use a ViewPager and put the behavior of the ImageView on it. Then put ImageViews in the Pager. I'll add it in the future. But I prefer to work on the issues first. B

[2016-07-27 02:21] akaN44 commented on #5
I found a way to handle the scrolling of the ImageView. Basically, I allow the content outside of the NestedScrollView bounds (on the imageView in our case) to scroll. So the touch events on the ImageView are considered inside of the BottomSheet bounds which will make the bottomSheet scroll and the imageView scolling accordingly.  I'll try it with a ViewPager to see if the horizontal scrolling wor

[2016-07-28 00:58] akaN44 opened #7 "SecondAppBarLayoutBehavior improvement"
I re-developed the SecondAppBarLayoutBehavior to mimic the exact Google behavior. I'll clean the code and push it as soon as possible. Here is a preview.
![2016_07_27_17_49_54_17_51_11](https://cloud.githubusercontent.com/assets/4276053/17197658/9ab5c206-5423-11e6-912a-6e8ff88f8003.gif)

[2016-07-28 02:38] miguelhincapie commented on #7
wow nice! let me know if you need something :D, but like I said in a previous post I a little bussy this week.

[2016-07-29 06:09] #7 closed

[2016-07-29 16:57] miguelhincapie commented on #2
Seem like you got it, so I will close this.

[2016-07-29 16:57] #2 closed

[2016-07-29 17:37] akaN44 opened #9 "Working on Behaviors SavedState for screen rotation."
I'm currently working on saving the state of behaviors for screen rotation.

[2016-07-29 18:38] #9 closed

[2016-08-08 21:56] gp01kkky commented on #5
Hi, I understand what you said, but didnt manage to get it working. Would u mind to share how you did it? I tried making the outside scrollable, but behavior became weird. The image blocked the layout below it.

[2016-08-09 05:39] akaN44 commented on #5
Did you updated your code with the new behaviors ? What is your problem exactly now ?  What do you mean by make the outside scrollable  ? There is still some issues right now but it's almost working. We must improve animations and figure out a way to use a peak height greater than the toolbar height, to be close to the Google maps behavior. But actually, it's definitely not the way Google develope

[2016-08-09 09:41] gp01kkky commented on #5
Hi, sorry if I misunderstood what you said, you mention about making the imageView to scroll. Do you mean making it scrollable? I still cant get the touch events on the imageview to be considered in the bottomsheet bound

[2016-08-09 15:45] akaN44 commented on #5
The scroll on the imageView is working. Just update the BottomSheetBehaviorGoogleMapsLike in your code.

[2016-08-10 12:21] gp01kkky commented on #5
Oh right great, it is working!! sorry didn't notice the change.

[2016-08-10 12:21] #5 closed

[2016-09-22 17:06] miguelhincapie opened #12 "Bad position for backdrop image when starting in STATE_ANCHOR_POINT state"
Sup @akaN44,
I'm implementing our developer in another project and I found this issue:
Lets say I have 2 activities, A and B. In B I implemented the CustomBottomSheetBehavior, so if I start activity B from A setting the state (`setState(BottomSheetBehaviorGoogleMapsLike.STATE_ANCHOR_POINT)`) the backdrop image doesn't start in the correct position. It's starting like if it was in STATE_COLLAPSED s

[2016-09-22 17:32] akaN44 commented on #12
Hi Miguel,

So if I understand, You have two activity A and B. The B activity have the BottomSheet and when you start activity B you are setting the state of the BottomSheet to state STATE_ANCHOR_POINT in the onCreate method of B ?

The problem might be that the BackDropBehavior don't have a SavedState yet and the position of the BackDrop image is calculated at the behavior initialisation and prob

[2016-09-22 19:08] miguelhincapie commented on #12
Yep you understood it well!.
Thx very much for your help.

[2016-09-23 07:23] leicht-io commented on #1
@miguelhincapie i did. Thank you.

[2016-10-07 11:03] am2222 opened #13 "Achieve as a seprate activity"
Hi,
I noticed that If I want to use this view I have to use it in a new activity, Is there any way to run it on existing activity?I mean if we have an existing activity when our new activiry with Bottonsheet behaviour runs it covers other activity, even when it is collapesed. Here I want that this activiy runs and we can out back activity too.Is it possible?

[2016-10-09 15:52] akaN44 commented on #13
Hi,
I'm not sure to understand what you want to achieve. Can you be more clear ?
Why do you want to start a new activity dedicated to the bottomsheet ? If you start a new activity, you'll no longer be able to interact with the current activity which will be stopped by Android. You can use the behaviors inside any existing activity.

[2016-10-09 15:56] akaN44 commented on #12
Hi Miguel,

Sorry for late reply, I was pretty busy.
What you want to achieve is actually working with the current code in your repo.
Make sure you updated the BackDropBottomSheetBehavior especially the init method.

[2016-10-09 20:51] am2222 commented on #13
Hi,
In fact I want to use this behavior like a notification when user goes to spasial location it shows itself and user use it..It seems such a thing is not any android's feature?isn't it?

[2016-10-10 07:55] akaN44 commented on #13
If you want to hide the bottomSheet at some point, you can do it. To do that just set the mode to hidden then when you want to show it set the mode to collapsed.

Android will not allow you to run two activities at the same time, when you start an activity, the current activity will be stopped So you can no longer interact with it. For example, let say you have an activity in the backgroud a map o

[2016-10-13 08:27] am2222 commented on #13
@akaN44  thanks for your detailed answer.

[2016-10-17 14:38] #13 closed

[2016-10-29 09:52] am2222 opened #14 "How can I hide ButtomSheet"
Hi,
How can I hide ButtomSheet in activity?I used this code

`behavior.setState(BottomSheetBehaviorGoogleMapsLike.STATE_HIDDEN);
`

But does not change it..thanks

[2016-11-16 20:44] caiquebertan commented on #12
Hello @akaN44 and @miguelhincapie!

Same thing is happening to me. I'm creating an activity with a recyclerview inside, and a bottomsheet with details about recyclerview's item.

If I only slide the bottomsheet, works like a charm. But I want that when the user clicks the item on recyclerview, the bottomsheet popups on anchor point state.
I'm using a simple ImageView as BackDrop, the ImageView get

[2016-11-16 21:42] akaN44 commented on #12
I see the problem know. It's because you use a recyclerView (the backdrop behavior react to it). I'll fix that soon.
On Nov 16, 2016 12:44 PM, Caique Bertan <notifications@github.com> wrote:Hello @akaN44 and @miguelhincapie!

Same thing is happening to me. I'm creating an activity with a recyclerview inside, and a bottomsheet with details about recyclerview's item.

If I only slide the bottomsheet

[2016-11-16 23:32] miguelhincapie commented on #12
Hey @caiquebertan something similar is happening with AppBarLayout. I'm working on a big app that use so much this component (bottom sheet). In some weeks I will be focused on fix it if @akaN44 has not done it already.

Don't apologize for your english bro! ;) at this time all ppl should know at least 2 languages. I can speak spanish if it's useful for you

[2016-11-17 01:37] akaN44 commented on #12
So to be more clear, the Backdrop behavior react to any NestedScrollView in the same coordinatorLayout . The BottomSheet is a  NestedScrollView but sadly other views can also be a NestedScrollView like the RecyclerView for example. It's not a big fix, I'll try to do it tonight.

[2016-11-17 13:50] caiquebertan commented on #12
Hey, thanks for the quick response!

And thanks for the great work on that library.

Even that I understand the problem, I really don't know how to fix that
haha. So I'll be waiting for the next updates...

Thank you again!

---

Caique Bertan
Desenvolvedor Mobile / Java
+55 11 985433820
http://www.linkedin.com/profile/view?id=183054270

2016-11-16 23:37 GMT-02:00 Paul-Marie Tetedoie notifications

[2016-11-23 14:09] marinovskiy opened #15 "Very sensitive scroll when use anchor point"
When set anchor point - it has very sensitive scroll. It's easy to scroll to expanded state without stoping on anchored. Can I make it less sensitive or stop when use scroll to anchored state?

[2016-12-03 16:49] miguelhincapie commented on #14
Hi there, Im developing a big app that use this code. In those 2 next weeks I will be working in other things of the app. I hope I will take it back for dicember 8 more or less.

[2016-12-04 16:53] am2222 commented on #14
thanks very much, I hope every thing goes right with your application

[2016-12-09 22:51] traabefi opened #16 "Wrong positioning of backdrop image when relaunching slider from STATE HIDDEN"
Hi, nice project, but I have one problem. When I hide the bottom sheet, and then relaunch it, the image does not react properly as it should. could you plese do something about that ?

[2016-12-14 11:01] rakesh1988 commented on #14
@am2222 were u able to hide the bottom sheet?

[2016-12-14 11:50] am2222 commented on #14
@rakesh1988 no I am waiting for some results

[2016-12-14 12:31] rakesh1988 commented on #14
actually i was able to do ````behavior.setHideable(true);```` which will enable the hiding feature...
but the FAB should be handled manually.

[2016-12-14 12:45] rakesh1988 commented on #14
have you tried using the whole setup in a activity, navigation drawer and fragment setup??

[2016-12-14 12:48] rakesh1988 commented on #14
I am getting a ````java.lang.RuntimeException: Could not inflate Behavior subclass ```` error

[2016-12-15 11:19] rakesh1988 commented on #1
@ChristianLJ I am having difficulties in handling navigation drawer, fragment and bottomsheet.

Can you please give me pointers as to how you managed to solve the issue?

My setup is in the following way.
- blank activity(call it MainActivity) with a frame layout which gets loaded with a map fragment by default.
- toolbar that holds the navigtion drawer is in MainActivity.
- in fragment i have the

[2017-01-03 17:05] deividas717 commented on #15
Same problem here! It should be fixed!

[2017-01-04 10:52] gmeral opened #18 "Scrolling down view pager is scrolling the bottomsheet as well, how ?"
@miguelhincapie  How is it that when scrolling down the sliding view pager, the bottomsheet scrolls aswell ?
I'm working on a project that is using a very similar bottomsheet and in my case, scrolling the backdrop view down is not affecting my bottom sheet.
I do not understand how it works in your case, could you explain it ? Is the "scrollable part" of the bottom sheet extended or something like

[2017-01-04 16:45] miguelhincapie commented on #18
Hi @gmeral, that question can be answered by @akaN44, he improved that part of the project.
Like I said in others threads before, I will be working hard in this project asap, after finishing some functional requirements of an app.

[2017-01-05 09:14] gmeral commented on #18
Okay thank you, let's hope he is going to be passing by sometime soon then :)

[2017-01-05 20:26] akaN44 commented on #18
@gmeral Take a look at this commit https://github.com/miguelhincapie/CustomBottomSheetBehavior/commit/b66ef1771e9e63048f57a8f7c41bef083c902da4

[2017-01-06 09:10] gmeral commented on #18
Oh i see, it's very clear now, then you added an if to only have this behaviour in STATE_ANCHOR_POINT.
Thanks a lot, i integrated these changes and it works like a charm.

[2017-01-06 15:59] #18 closed

[2017-01-07 00:14] miguelhincapie commented on #12
OMFG! I was about to finish a big explanation about what I found and miss click on back button...Now I'm lazy to copy everything again... I'm gonna do my best.

[2017-01-07 00:48] miguelhincapie commented on #12
Hi @caiquebertan
I found 4 things that you should check in order to verify if you are using this component properly.

First I'm going to give a overview about the app that I'm finishing:
The app shows promotions related to user position. All information is downloaded from server using `JSON` and AndroidAnnotation.

1. If you take a look at `activity_main.xml` file in the sample you will notice we

[2017-01-07 02:28] miguelhincapie commented on #12
@akaN44 Another thing that I noticed is if the content height of the Bottom sheet is less than device screen height you can see the map below your bottom sheet if you scroll it.
I tried resizing the bottom sheet Layout but doesn't work all time... after search a lot I found a work around using `getViewTreeObserver()` and `addOnGlobalLayoutListener`.

Something like this:

        observer.addOnGlo

[2017-01-08 04:23] miguelhincapie commented on #12
ohhh I'm feeling like walking in circle... I'm still have the problems.

@akaN44 if in our sample project - MainActivity - onCreate you add this line of code `behavior.setState(BottomSheetBehaviorGoogleMapsLike.STATE_ANCHOR_POINT);` you will see one of the problems, look the AppBar in the screenshot
![Uploading _device-2017-01-07-230338.png…]()_

[2017-01-08 19:59] miguelhincapie commented on #16
Hi @traabefi I have been working in this project again and I have 2 question about what you found:
1. have you change `app:behavior_peekHeight` and `app:anchorPoint`.
2. can you give me more details of how do you hide it and then relaunch it? (buttons, using scroll listeners, etc)

if you can share a sample or snipet code in where we can reproduce the error should be good! :D

[2017-01-08 20:03] miguelhincapie commented on #14
Hey @am2222  and @rakesh1988 sorry for not answering before. This week I have resumed work in this project, take it easy and I will help you asap.

[2017-01-08 21:50] miguelhincapie commented on #14
Like @rakesh1988  said, you can use `setHideable()` in code or you can use `app:behavior_hideable="true"` in XML.

I will add some behavior for what you said about FAB, I mean, it should be hidden too.

[2017-01-09 19:44] am2222 commented on #14
@miguelhincapie, @rakesh1988 can you please share an example how to hide it?

[2017-01-10 00:42] rakesh1988 commented on #14
when u are initialising the behavior u need to just set `behavior.setHideable(true);`

[2017-01-10 07:55] am2222 commented on #14
@rakesh1988  thanks very much

[2017-01-10 14:46] miguelhincapie commented on #14
By the way there is a little bug related to backdrop beginning position. I will fix it today.

[2017-01-11 00:06] miguelhincapie commented on #14
I just commit a new version.
FAB get hidden automatically when bottomSheet is on collapsed state or going to this state.

[2017-01-11 00:07] miguelhincapie commented on #16
Download new code and tell me if it got fixed please.

[2017-01-11 00:09] miguelhincapie commented on #12
Hi @caiquebertan I just committed a new version in where I fix some initial position of components (look at commit change log if you wanna know more).

[2017-01-11 01:28] miguelhincapie opened #19 "TODO"
TODO:
1. MergedAppBarLayoutBehavior still not showing properly when
BottomSheet starts in EXPANDED mode.

2. ScrollingAppBarLayoutBehavior not showing properly the status bar if
you start the BottomSheet in STATE_COLLAPSED.

3. If BottomSheet content’s height is smaller than screen height, when
you scroll the BottomSheet (going to expand mode) you can see the
map/background behind BottomSheet elem

[2017-01-11 01:29] #12 closed

[2017-01-11 15:56] am2222 opened #20 "Using in Scroling Activity and an empty space behind toolbar"
Hi,
I have a problem. in an scrooling activity I face this problem.
![photo514363939500435620](https://cloud.githubusercontent.com/assets/4707503/21855364/8187eefa-d833-11e6-9589-2dfa27acdb78.jpg)

As you can see behind toolbar is empty. This is because I have added some margin top to make my list's top visable. Is there any way t connect list's margin top to the amount of moving bottomsheet and w

[2017-01-11 16:53] miguelhincapie commented on #20
Hi @am2222 Yes, there is a way to do it.
You have to implement your own TopMarginBehavior and extends it from CoordinatorLayout.Behavior (as we did in this project).
I can help you but I guess the right place for it is stack overflow. Create a question, tag me or give me the link and I will give u a hand.

[2017-01-11 16:55] miguelhincapie commented on #19
Point 2 ready.
Point 1 need to fix a little initial state in status bar.

[2017-01-11 16:56] #14 closed

[2017-01-11 17:01] am2222 commented on #20
Hi dear @miguelhincapie  wow thanks for your great help.I'll ask in stackoverflow .Thanks

[2017-01-11 17:14] traabefi commented on #16
Yes that fixed that issue

[2017-01-11 17:17] am2222 commented on #20
@miguelhincapie  here is the questions link.thanks
[this](https://stackoverflow.com/questions/41596840/using-custombottomsheetbehavior-in-an-scrolling-activity-causes-an-empty-space-b)

[2017-01-11 17:17] #16 closed

[2017-01-11 18:27] #20 closed

[2017-01-11 20:17] miguelhincapie opened #21 "In some real devices MergedAppBarLayoutBehavior doesn't work properly"
Is a weird case when the MergedAppBarLayoutBehavior can't complete or animate through Y. I mean, when you are in the `setToolbarVisible()` method you set `child.setY(-child.getHeight()/3)`, the animations update the Y value but visually you see the AppBarLayout still in `child.setY(-child.getHeight()/3)` position.
Work around: comment `child.setY(-child.getHeight()/3);` line of code.

[2017-01-11 23:24] miguelhincapie commented on #15
I have committed some changes, please look at them and tell me if it persist. The BottomSheet always has to stop on anchor point coming from collapsed or expanded mode.
I'm gonna try adding a threshold when it reaches collapsed, anchor or expanded state.

[2017-01-14 10:31] deividas717 commented on #15
Thank you! However I didn't noticed any changes. As an example in google maps when I drag bottom sheet from the bottom of the screen to the top without releasing finger from screen it always stops at anchor point! But in this lib if I drag bottom sheet without releasing my finger I get always STATE_EXPANDED

[2017-01-14 20:12] ZherebtsovAlexandr opened #22 "The best way dynamically add fragment to NestedScrollView?"
For example, **instead**

[code]

Use

[code]

and commit fragment, for example by button click

[code]

Right now in sample it works incorrect.

[2017-01-14 22:28] miguelhincapie commented on #15
Yeah I know what are you talking about is like a threshold. I'm gonna add it later on this month.

[2017-01-14 22:41] miguelhincapie commented on #22
Hello,
We wanted to keep sample project easy to understand how to use the lib, but in real life you usually use a Fragment like you are trying.

You can use something like this:
[code]

the _ at the end of `xx.xxx.BottomSheetFragment` is because I took it from a real project in where I'm using Android Annotations.

[2017-01-15 07:53] ZherebtsovAlexandr commented on #22
@miguelhincapie thank you for quick answer! Do yo mean use:

[code]

But how can I pass some parameters to the fragment, for example?

[code]

[2017-01-15 13:52] Manu206 opened #23 "How to disable third step (STATE_EXPANDED)?"
Hi,

I don't need the feature to have three steps. I want to stop at STATE_ANCHOR_POINT step without another scrolling step to STATE_EXPANDED status.
Is there a quick way how to disable it?

Regards,
Manu

[2017-01-15 20:45] miguelhincapie commented on #23
Hi there,

There is no quick way to do it. You can modify BottomSheetBehavior to get it (you don't neet modify the others files).
If it's a really enhancement that some people wants I can do it in some weeks... or if you can do it I will be so happy xD

[2017-01-15 20:53] miguelhincapie commented on #22
Yeah! you can handle the fragment like any simple fragment, this Lib doesn't care about or don't touch anything about the content inside "include" or "fragment". I mean this library only cares about 3 things:
1. BottomSheet got anchor_point state
2. Parallax effect in the backdrop (image, view, viewpager, etc)
3. The 2 appbarlayout the app shows depends on the current bottomsheet's state.

You can

[2017-01-15 21:06] ZherebtsovAlexandr commented on #22
Thank you!
I'll try to make a fork of the library and show the problem. I think it is not related with the BottomSheetBehaviorGoogleMapsLike. The problem is that if NestedScrollView will be created with an empty View (container for fragment) and after add fragment to the View (by button click) then will not works  correct (View doesn't render fragment content). But if add fragment in onViewCreated

[2017-01-15 22:19] ZherebtsovAlexandr commented on #22
I created fork and reproduced problem described above you can see my code to understand the problem.

Code:
https://github.com/ZherebtsovAlexandr/CustomBottomSheetBehavior/blob/master/app/src/main/java/co/com/parsoniisolutions/custombottomsheetbehavior/sample/MainActivity.java#L108

See short giff:

![device-2017-01-16-011608](https://cloud.githubusercontent.com/assets/3095952/21966719/b4999178-db

[2017-01-16 16:41] miguelhincapie commented on #22
ohhh I get it!
I have same problem in a big project... I was thinking it was something wrong in my code (I'm using deep link) to open some views with this lib and I'm facing same problem.

I know about some bugs related to resizing original bottomsheet and the works around it, but I have not found anything for this one you are showing.

If you take a look when the components get "refreshed", you w

[2017-01-20 09:37] miguelhincapie commented on #22
By the way, have you tried using
[code]
when you are swiping/adding new fragment?

[2017-01-21 08:25] vit001 opened #24 "BottomSheet collapse bug"
Hi - great lib!!
I ran into the following bug:
1) Fully expand the bottom sheet
2) Scroll the bottom sheet up
3) Collapse the bottom sheet using the X toolbar icon
Bug: the Bottom sheet doesn't scroll to the top. Please see video: https://vimeo.com/200454784

[2017-01-21 08:30] vit001 opened #25 "How to prevent BottomSheet from swiping down completely?"
How can I prevent the BottomSheet from being completely swiped down off the screen? The video shows the end-state I would like to prevent (no BottomSheet visible):
https://vimeo.com/200455034

[2017-01-22 02:47] miguelhincapie commented on #25
Hi there,

just delete `app:behavior_hideable="true"` in NestedScrollView that is using `BottomSheetBehaviorGoogleMapsLike` behavior.

[2017-01-22 02:54] miguelhincapie commented on #24
Hi @vit001,

Can you explain me a little bit what do you expect to happen when you press X in toolbar?
I can't see the bug xD. Because following the Google Maps app, if you press same icon (they have an arrow), the bottomsheet is collapsed like you show in the video.

[2017-01-22 03:13] vit001 commented on #24
Hi @miguelhincapie  - thanks for the reply. If you look at the last frame in the video, you see that the collapsed BottomSheet is white and says 'Text dummy 1'. I expect it to be blue and say 'Title dummy', just like when you first start the demo.

[2017-01-22 03:22] miguelhincapie commented on #24
oh I got it! but I wait. The text is just about different text in XML or code.
But the scroll behavior is 100% bug. I can't spend time in this project for next 2 weeks, so after that I will see what is going on and commit asap... or if you want to do it... :D I will be so happy.

[2017-01-22 03:24] vit001 commented on #24
Here is a better demonstation of the bug: https://vimeo.com/200522363

I will take a look to see if I can fix it.

[2017-01-22 03:28] vit001 commented on #25
Thank you! That was easy ... :)

[2017-01-22 08:34] vit001 opened #26 "Fix for bottom sheet fling/snap/settle bugs"
There are several bugs related to snapping back to the anchor state:

1) In Google Maps the anchor state is sticky - the Backdrop Element needs to be pulled down at least 50% before the Bottom Sheet collapses. If it is pulled less than 50% the Bottom Sheet snaps back to the anchor. The behavior of the lib is different - as soon as the Backdrop Element is pulled down even a tiny amount and released

[2017-01-22 10:16] vit001 commented on #15
I believe my fix to Issue #26 fixes this issue as well.

[2017-01-22 10:36] deiauk commented on #24
Actually you can use this method bottomSheet.scrollTo(0, 0); when bottomSheet is in STATE_COLLAPSED

[2017-01-22 18:33] #25 closed

[2017-01-22 19:18] miguelhincapie commented on #15
@vit001 rocks! he did it

[2017-01-23 04:05] vit001 opened #28 "Additional bugfixes for fling"
Issue: We track fling velocity in BottomSheetBehaviorGoogleMapsLike.onInterceptTouchEvent.

Problem: BottomSheetBehaviorGoogleMapsLike.onInterceptTouchEvent will stop being called after a child of BottomSheet consumes any scroll (e.g. main content listview), until the next MotionEvent.ACTION_DOWN,  so we loose track of fling. onNestedScroll continues to be called.

Solution: Track fling in onNeste

[2017-01-23 18:38] deividas717 commented on #15
There are some problems:
I made that when user clicks back button bottom sheet should collapse. It is working but when bottom sheet is fully expanded and when I press back button and then when I touch (just a little bit) bottom sheet it immediately expands to (ANCHOR_POINT) without any animation

[2017-01-23 18:43] vit001 commented on #15
Hi - how do you collapse the bottom sheet with back button? Can you post
code?

On Jan 23, 2017 10:38 AM, "deiauk" <notifications@github.com> wrote:

[2017-01-23 18:44] vit001 commented on #15
I think I know what the issue is, will fix, but please post your bottom
sheet ollapse code to be sure.

On Jan 23, 2017 10:38 AM, "deiauk" <notifications@github.com> wrote:

[2017-01-23 18:52] deividas717 commented on #15
Hi, its just bottomSheetBehaviorGoogleMapsLike.setState(BottomSheetBehaviorGoogleMapsLike.STATE_COLLAPSED);

[2017-01-23 20:02] vit001 commented on #15
Can you try my fork and see if it fixes the issue? If yes, I will issue a PR.

https://github.com/vit001/CustomBottomSheetBehavior/blob/master/app/src/main/java/co/com/parsoniisolutions/custombottomsheetbehavior/lib/BottomSheetBehaviorGoogleMapsLike.java

[2017-01-23 20:03] vit001 commented on #15
Also, can you share your code for scrolling the bottom sheet to the top when collapsed? Thx!

[2017-01-23 20:51] deividas717 commented on #15
@vit001 Great it works almost perfectly. Here's the code it's just one line
bottomSheet.scrollTo(0, 0);
however sometimes this method doesn't work.

[2017-01-23 21:00] deividas717 commented on #15
However there's some strange behaviour. Look at this video https://vimeo.com/200729039 I think it happens when I release my finger at anchor point (try it you will see that bottomsheet never stops at anchor point)

[2017-01-23 22:12] vit001 commented on #15
@deiauk I cannot reproduce the behavior (bottomsheet doesn't stop at anchor) in the demo app. Does it happen only in your app, or in the demo from this lib as well?

[2017-01-24 00:39] vit001 opened #30 "When user touches screen during fling the state transitions to end state than scrolls back a little"
Google Maps behavior is such that a touch after a fling (while fling is in progress) is ignored. Current lib behavior is such that when user touches screen during fling, the state transitions to the end state, then scrolls back a little towards the touch.

I will try looking into this issue, but help is appreciated as well.

[2017-01-24 00:41] vit001 opened #31 "Bottom Sheet should have touchSlop"
To mimic Google Maps behavior, the Bottom Sheet should have touch slop as provided by ViewConfiguration.getTouchSlop(). Currently, there is zero touchSlop which makes the scroll behavior too sensitive and jittery.

I am stumped by this one - anyone have ideas?

[2017-01-24 03:57] vit001 commented on #15
@deiauk - OK I can reproduce it now. When you give enough fling velocity to fling from collapsed to expanded it will not stop at anchor. It seems mViewDragHelper.smoothSlideViewTo( child, child.getLeft(), anchor ) doesn't respect the anchor and keeps scrolling if it has enough momentum. It works if the fling velocity is small. I don't know how to fix it! It seems like a bug in ViewDragHelper. Any

[2017-01-24 16:25] miguelhincapie commented on #15
mmm what if we try forcing it to check Dy or Y position, looking for anchor_point? But we need to know its a single event: scrolling from collapsed in one shot.

[2017-01-24 16:35] miguelhincapie commented on #31
At night I will take a look.
@akaN44 can you give us a hand (if you have time of course)

[2017-01-24 16:36] miguelhincapie commented on #30
it's what you were talking in #15 right?

[2017-01-24 18:32] vit001 commented on #30
No this is a different issue. I'll post a video.

[2017-01-26 01:07] vit001 opened #32 "Give shadow to top edge of collapsed bottom sheet"
The Google Maps app has a shadow above the bottom sheet when it is in collapsed state. Any ideas on how to implement it? I tried the obvious - setting elevation in xml, but without success (shadow is only cast downwards below the bottom sheet, not above). Also no success with ShadowLayout (it cannot paint over the main content behind the bottom sheet.

[2017-01-26 03:42] miguelhincapie commented on #32
What about this:

[code]

[code]

using that view upper inside the bottomsheet content

[2017-01-26 06:03] vit001 commented on #32
Good thinking! The problem I ran into is that the viewpager with parallax photos shows underneath the shadow when the bottomsheet is collapsed, and setting a margin on the viewpager seems to get ignored ...

[2017-01-26 07:15] vit001 commented on #32
OK, I have a solution. Had to modify the backdrop behavior to adjust for the shadows. Will post a PR.

[2017-01-26 08:30] deividas717 commented on #32
You can also do this

      <android.support.design.widget.CoordinatorLayout
          android:id="@+id/coordinatorlayout"
          android:layout_width="match_parent"
          android:layout_height="match_parent">

        <View
            android:id="@+id/bottom_sheet_shadow"
            app:layout_anchor="@+id/bottom_sheet"
            android:layout_width="match_parent"
            android:

[2017-01-26 08:39] vit001 commented on #32
That works! Much easier than what I had in mind! (Which involved adding the shadow to the scrollview and then having to offset the backdrop).

[2017-01-26 14:22] miguelhincapie commented on #32
yeah @deiauk that is what I was talking about :D
by the way I'm feeling a little bad cuz I can't help you guys much on those days xD. I'm in the release of a big app that use this lib (https://play.google.com/store/apps/details?id=co.com.spyspot)

[2017-01-27 04:27] vit001 commented on #32
Looks like a nice app! It seems it's not available in my country but the screenshots look cool!

[2017-01-27 08:39] ZherebtsovAlexandr commented on #22
@miguelhincapie not tried, I added fragment in main thread. What give this?

[2017-01-27 12:25] ZherebtsovAlexandr commented on #22
Issue related with onLayoutChild method, i have noticed that parent.onLayoutChild(child, layoutDirection); doesn't call after added fragment.

[2017-01-27 14:34] ZherebtsovAlexandr commented on #22
This hack works http://stackoverflow.com/a/35804525/1890996

I using now

I click button for showing bottom sheet

[code]

And mannually call `onLayoutChild` in callback :

[code]

[2017-01-27 16:38] miguelhincapie commented on #22
Well being hack or not if it works I will use it too hahahaha. I need it for the current app I'm finishing.

[2017-02-01 00:51] vit001 opened #33 "BackdropBottomSheetBehavior.onDependentViewChanged return value bug"
I have seen a rare bug where the Backdrop freezes and doesn't scroll along with the bottom sheet. I believe the bug has to do with the return value of the BackdropBottomSheetBehavior.onDependentViewChanged.
Per docs: "If the Behavior changes the child view's size or position, it should return true. The default implementation returns false."
The implementation in this lib returns true if the size o

[2017-02-01 16:42] miguelhincapie commented on #33
I though I had fixed it xD hahaha. It's a easy one.

[2017-02-01 16:45] miguelhincapie commented on #33
ohh but the freezes behavior I think is more related to the issue that you reported some weeks ago in where all the content of bottom sheet some times doesn't get painted at all until a forced relayout happens... but I'm guessing xD

[2017-02-02 06:49] ChristopheVersieux commented on #18
I am also curious, as the ViewPager disable the horizontal scroll for the Map behind, which looks like a dirty hack.
As soon as we replace the ViewPager with an ImageView, the map can now move...
Commit referenced by @akaN44 is now overwritten ...

[2017-02-02 09:56] gmeral commented on #18
In BottomSheetBehaviorGoogleMapsLike.java :
In the onInterceptTouchEvent method you have to replace this piece of code :
[code]

by

[code]

[2017-02-02 16:59] miguelhincapie commented on #22
Have you seen [Recent Support Library Revisions](https://developer.android.com/topic/libraries/support-library/revisions.html)? they are talking about Fragment transactions. I'm gonna take a look at it to see if that can help us

[2017-02-06 00:56] vit001 commented on #31
I have a solution for touch slop that works, but it requires replacing NestedScrollView with a custom NestedScrollingParent (SloppyNestedScrollView). As a result, it is tied to a specific version of Design Support Lib, and as new versions of Design Support Lib come out, it will be necessary to update SloppyNestedScrollView to stay in sync, Let me know if you are interested in going this route.

[2017-02-06 06:57] vit001 opened #34 "Allow dragging BottomSheet by grabbing Backdrop"
Google Maps allows you to scroll the BottomSheet vertically by grabbing and dragging the Backdrop. Lib is missing this functionality. What do you figure is the best way to implement this?

[2017-02-06 18:22] miguelhincapie commented on #34
hum? I'm a little confused, is that functionality not implemented yet? or is a different one? I mean, I just tried with the app in the market that I published last week and I can drag up or down the BottomSheet grabbing the Backdrop.

[2017-02-06 18:24] miguelhincapie commented on #32
I'm closing the ready issues. Did you commit this one?

[2017-02-06 18:32] miguelhincapie commented on #26
I guess we are missing something in what he did in one of those commit related to fling.
Someone from my last company show me the app behavior in one smartphone with an old version of this library and the new one (he download my app from the market and that one has the last commit). In old one I tried like 12341234 times reproduce the issue related to "jump" anchor_point and get from collapsed to

[2017-02-06 19:58] vit001 commented on #32
No, did not commit - do you want me to? By the way, adding a shadow requires a making a change to MergedAppBar partialBackgroundHeight to factor in the shadow height.

[2017-02-06 20:01] vit001 commented on #34
It's not working for me using the lib demo app...

[2017-02-06 20:10] vit001 commented on #34
Sorry I take it back! It's working - there is a problem on my end!

[2017-02-06 20:10] #34 closed

[2017-02-06 20:11] vit001 commented on #26
Sorry - I am not clear on what the issue is. Are you saying the 'stop at anchor' worked BEFORE PR#27 and doesn't work AFTER PR#27?

[2017-02-06 21:34] miguelhincapie commented on #32
But what about if I don't wanna use shadow? do you have thought in a easy way to turn on/off this new effect?. I'm asking it because if you review the issues, there is one related to ignore one step. After that question I though... damn, I would developed it giving the option to choose what points I want to use, I mean (hidden, followed by collpsed, followed by anchor and then expanded... or just

[2017-02-06 21:39] miguelhincapie commented on #26
In somehow yes, I mean, like I said, I tried so many times in an old version of the lib and I couldn't reproduce "jump state" behavior (It could be I didn't try in the right way... no idea). But what I'm sure is that was easy to reproduce it using last version of the lib, so I'm guessing we are missing some logic in the new fling behavior.

[2017-02-06 22:47] vit001 commented on #26
Can you take a look at my fork and see if everything works? I've made many changes over the past few days. If it works I can issue a PR.

https://github.com/vit001/CustomBottomSheetBehavior

[2017-02-06 22:54] vit001 commented on #26
My phone died unfortunatelly so I am stuck with the emulator for a couple of days , very clunky... :(

[2017-02-07 07:39] vit001 commented on #26
OK, I see the issue - I have my BottomSheet in a Horizontal ViewPager (another layer of NestedScrollingParent), so some of the code doesn't work the same in your lib demo. I am going to push out my Horizontal ViewPager code as a lib so you can take a look, and maybe you'll find use for the paging ability as well ... :)

[2017-02-07 17:50] miguelhincapie commented on #26
yeah, because all the different configurations you can have with this lib, I'm going to make 2 or 3 demos plus the principal one. It sounds good having integration with that lib you are going to release.

note: I don't like how it sounds when you say "in your lib" :D. I mean, I just started this lib but it has grown because @akaN44 and you... so it's better if you say "our lib".

[2017-02-07 23:24] vit001 commented on #26
@miguelhincapie - Still working on a clean demo and fixing toolbar, but you can check out https://github.com/vit001/CustomBottomSheetBehavior - the paging and scrolling works perfrect for me.

https://vimeo.com/203024083

By the way, if you don't want the horizontal pager functionality, you can always provide an adapter with only one item.

[2017-02-08 03:17] vit001 opened #35 "All scroll fixes and addition of horizontal ViewPaging"
@miguelhincapie Big push today - I have a demo with all my fixes and enhancements. Please check https://github.com/vit001/CustomBottomSheetBehavior and let me know if everything works as you expect.

https://vimeo.com/203048221

[2017-02-08 03:46] miguelhincapie commented on #35
I will see it tomorrow at night :D

[2017-02-10 05:11] #33 closed

[2017-02-10 05:11] #32 closed

[2017-02-10 05:11] #31 closed

[2017-02-10 05:12] #28 closed

[2017-02-10 05:12] #26 closed

[2017-02-10 05:12] #24 closed

[2017-02-10 05:12] #30 closed

[2017-02-10 05:16] vit001 commented on #15
I have fixed this issue in my fork, please confirm it works for you:
https://github.com/vit001/CustomBottomSheetBehavior

[2017-02-10 05:18] vit001 commented on #19
For point 1 - I think it's fixed in my fork.
For point 2 - I think it's fixed in my fork.
For point 3 - you can set a minHeight on the top-most layout inside the NestedScrollView. Alternatively, it can be resized at runtime based on the measured NestedScrollView height.

[2017-02-10 08:32] vit001 opened #36 "Allow dragging BottomSheet by grabbing FAB"
It should be possible to grab the upper half of the Floating Action Button and drag the BottomSheet with it, in order to match Google Maps app behavior. Right now it is possible to grab the lower half of the FAB only.

[2017-02-10 08:40] vit001 opened #37 "Make the bottom edge of the Toolbar semi-transparent"
![screenshot_2017-02-10-00-35-03](https://cloud.githubusercontent.com/assets/3802799/22819959/86f17034-ef29-11e6-9cc6-6096f866354b.png)

[2017-02-10 18:44] miguelhincapie commented on #19
Ty!
About point 3, what you said is what exactly I'm doing :D, but should be nice have a default behavior that can be override if you don't want it, in where it auto-resize the bottomSheet... but it's a low priority for me.

[2017-02-10 18:47] miguelhincapie commented on #37
that can be achieve easy using a transparent layout like you did with the bottomSheet (in that one you used a black shadow).

[2017-02-10 19:00] miguelhincapie commented on #19
I wish this project be up dated with all those nice improvements you did. Could you merge them?

[2017-02-10 20:14] vit001 commented on #19
My fork only works with the BottomSheets in a ViewPager (the fling didn't work right without it and I don't have time to figure out why). So I can merge them but it requires a (breaking) change to the layout to include the ViewPager. It also requires providing an adapter for the ViewPager, but that is easy and can include just one item (so there is no paging). Let me know if you are OK with those

[2017-02-10 20:45] vit001 commented on #37
Yes, you are absolutely right! I was hoping some other lib user could pick it up, I am also super tied-up with my app right now.

[2017-02-23 06:39] nugrahaga opened #38 "How to disable STATE_COLLAPSED?"
hi, i wonder how to disable state collapsed? i just need the parallax effect. thank you

[2017-03-07 00:58] abdymm commented on #38
+1

[2017-03-07 00:58] abdymm commented on #38
@miguelhincapie

[2017-03-16 20:34] deiauk opened #41 "to vit001 how to disable viewpager?"
Thanks for the great library, however vit001 version has viewpager that has swipe effect. Is it possible to turn it off?

[2017-03-16 21:08] vit001 commented on #41
Yes - provide a ViewPager Adapter with only one item.

On Mar 16, 2017 1:34 PM, "deiauk" <notifications@github.com> wrote:

[2017-03-16 21:09] vit001 commented on #41
Or alternatively - check the setSwipeLeft(boolean) and
setSwipeRight(boolean) methods in the adapter to disable swiping on the
fly.

On Mar 16, 2017 1:34 PM, "deiauk" <notifications@github.com> wrote:

[2017-03-16 21:12] deividas717 commented on #41
@vit001 thanks for quick reply! However this is not a clean solution. Is it possible to somehow not to use PagerAdapter at all? (I think most of the users want this functionality)

[2017-03-16 21:17] vit001 commented on #41
Sorry, the vit001 fork requires a view pager with an adapter. I could not
get all the features to work without the scrolling parent (viewpager).

On Mar 16, 2017 2:12 PM, "deiauk" <notifications@github.com> wrote:

[2017-03-18 02:28] rakesh1988 commented on #38
@nugrahaga
on activity creation set ```behavior.setState(BottomSheetBehaviorLikeGoogleMaps.STATE_HIDDEN);```
when you want to show then set it for ```behavior.setState(BottomSheetBehaviorLikeGoogleMaps.STATE_ANCHOR_POINT);```

[2017-03-18 03:42] abdymm commented on #38
its just hide in first look, how i can disable one of state of them, disable not hidden @rakesh1988

[2017-03-18 06:45] rakesh1988 opened #42 "How to change/hide menu items on bottomsheet Toolbar"
I tried to add ```mToolbar.getMenu().clear();``` in init() of MergedAppBarLayoutBehavior. But It did not clear the menu items. is there something that I am missing?

[2017-03-18 07:28] vit001 commented on #42
You probably don't want to do this in the Behavior, but in your Activity's
(or Fragment's) onCreateOptionsMenu

On Mar 17, 2017 11:45 PM, "Rakesh Kashyap" <notifications@github.com> wrote:

[2017-03-18 07:53] rakesh1988 commented on #42
correct me if i am wrong... Activty/Fragment's onCreateOptionsMenu would change the toolbar that was set for the activity itself. In my layout xml i have 2 Toolbars. one for activity and one for BottomSheet. How will I change it for BottomSheet's toolbar?

[2017-03-18 08:00] vit001 commented on #42
Ok, you can try something like this (in your onActivityCreated or whenever
you want to modify the toolbar:

final Toolbar scroll_toolbar = (Toolbar) findViewById( R.id.scrolltoolbar );
scroll_toolbar.setTitle( "Title" );
scroll_toolbar.inflateMenu( R.menu.scroll );

On Mar 18, 2017 12:53 AM, "Rakesh Kashyap" <notifications@github.com> wrote:

[2017-03-18 08:31] rakesh1988 commented on #42
Assuming that you are referring to the second toolbar. I tried this in oncreate of the activity. It did not change the title or inflate the menu. I am modifying the latest version of the repo.

[2017-03-22 19:22] miguelhincapie commented on #41
The main version has some bugs that vit001 has fixed in his version, some day in the future I will update the main version.

[2017-03-22 19:30] miguelhincapie commented on #38
Hi there, I busy with another project.
At the moment this library doesn't have the option you want. But it can be implemented easily: if you are listening for bottomSheet state changes, you can know when it reaches the collapsed state, immediately you can use `behavior.setState(BottomSheetBehaviorLikeGoogleMaps.STATE_HIDDEN);`.

I know that could be better if the lib has some options to set what s

[2017-03-31 03:54] cesardeazevedo opened #43 "mLastStableState was not set on setState"
Hi, thank you so much for this project.

I had a issue when setting state directly with setState, and it seems the mLastStableState was not set on this line: https://github.com/miguelhincapie/CustomBottomSheetBehavior/blob/master/app/src/main/java/co/com/parsoniisolutions/custombottomsheetbehavior/lib/BottomSheetBehaviorGoogleMapsLike.java#L563

What happens is when we set the state directly from

[2017-04-05 10:44] ShubhamSanware opened #44 "Could not inflate behaviour subclass"
I am using this library in my project and when I run my application then got this error.

Could not inflate behaviour subclass package name...

please help me to solve this error

[2017-04-11 14:59] ThuyKhanh opened #45 "Viewpageer behavior wrong when set state is STATE_HIDDEN"
I want to hide bottom sheet when activity create, so I set state as STATE_HIDDEN in onCreate() function
        CoordinatorLayout coordinatorLayout = (CoordinatorLayout) findViewById(R.id.coordinatorlayout);
        View bottomSheet = coordinatorLayout.findViewById(R.id.bottom_sheet);
        behavior = BottomSheetBehaviorGoogleMapsLike.from(bottomSheet);
        behavior.setState(BottomSheetBehav

[2017-04-13 12:49] lordmegamax opened #46 "Shows wrong content position after close button click (STATE_EXPANDED to STATE_COLLAPSED)"
I have a lot of text inside the content part and if I open the bottom part to `STATE_EXPANDED`, scroll to some lower lines of the text and then click the close (back) button in toolbar the view changes it's state to `STATE_COLLAPSED` but I don't see buttons at the top. Instead I see my text. See attached video.

I tried to catch `STATE_COLLAPSED` in onStateChanged and scoll manually by `nestedScro

[2017-04-13 12:51] lordmegamax commented on #45
Error 403

[2017-04-22 01:23] cesardeazevedo commented on #46
Did you tried to call `fullScroll` right after the `setState` instead of catching it on `onStateChanged`? I didn't had problems with `fullScroll(View.FOCUS_UP)` at all.

[code]

[2017-04-23 13:04] lordmegamax commented on #46
@cesardeazevedo Thanks for your answer. I can't make it work for me so I'm going to remove the close button at all for now.

[2017-04-23 13:04] #46 closed

[2017-05-15 10:37] krawa commented on #45
I confirm. When behavior initialized as STATE_HIDDEN in onCreate() something wrong.
When I set the state as STATE_COLLAPSED, when the button click, the FAB does not show
I logged ScrollAwareFABBehavior.onDependentViewChanged() and see
`onDependentViewChanged child.getY()=24905.0 DyFix=0 offset=112.0`
The value child.getY() is not correct and is constantly increasing

[2017-05-18 13:31] leeyc09 commented on #45
When view hide, actually view is gone.
So it loses its correct position.
Fix code.

ScrollAwareFABBehavior.onDependentViewChanged()

if ((child.getY() + DyFix) > collapsedY)
      child.setVisibility(View.INVISIBLE);
 else
      if(child.isShown())
        child.setVisibility(View.VISIBLE);
     else
        child.Show();

[2017-06-07 14:17] glauberrs opened #48 "In Android API 24 (7.0), BackdropBottomSheetBehavior fail"
Hi,
In Android API 24 (Android 7.0), BackdropBottomSheetBehavior fail.
Just drag some times the AppBar.
Sample:

<img width="308" alt="motog4" src="https://user-images.githubusercontent.com/12559183/26883132-a83da05a-4b72-11e7-88e1-b8426494d2aa.png">

Regards,

[2017-06-22 11:12] MelnykovOleksii commented on #22
Place this solution in the example! This will greatly help those who will use this library.

[2017-06-22 15:10] miguelhincapie commented on #22
At this I'm full time with some personal project, I will do it when I can or if you can do it, I appreciate it.

[2017-06-23 13:28] ghost commented on #48
+1

[2017-06-23 15:06] miguelhincapie commented on #48
Hi, thank you for report this issue, at the moment I'm busy with an personal project. If you or someone can give me a hand fixing it, I would appreciate it :D

[2017-06-26 09:55] ghost commented on #48
In BottomSheetBehaviorGoogleMapsLike I added one if statement but I don't like this solution, because when you manually drag the behavior it will block at some point like previously, at least this way when the view is expanded the UI will be refreshed.

[code]

[2017-06-26 15:07] vit001 commented on #48
There is a framework bug where something gets garbage collected and dependents (like Backdrop) stop being notified. You do not want to call `requestLayout()` - that's very expensive and will lead to poor performance. Instead, in `BottomSheetBehaviorGoogleMapsLike`, add the following to `onNestedPreScroll`:
[code]
This will make sure all dependents will be notified. Also, add the same to `SettleRun

[2017-06-27 14:21] glauberrs commented on #48
Thank you soo much vit001, Work like a clock!!

[2017-06-27 14:55] ghost commented on #48
Thx! Working for me as well!

[2017-08-03 12:55] hardikamal opened #49 "ViewPager fragment recyclerview scroll not working"
Hi,

I have added viewpager and fragment has recyclerview in it. On scrolling down, the bottom sheet gets scrolled instead of recyclerview...

[2017-08-08 12:07] rjnsalvador opened #50 "Sliding down from STATE_COLLAPSED does not hide the bottomsheet"
Hi, I would like to know how I can fix this problem.
If my bottomsheet is currently STATE_COLLAPSED, scrolling down does NOT hide it.
If my bottomsheet is currently STATE_ANCHOR_POINT, scrolling down ON THE VIEWPAGER will hide it.

I cloned this sample project and it seems that is has the same issue, even if the bottomsheet is hideable (app:behavior_hideable="true"), on scrolling down by TOUCHING

[2017-08-14 10:17] MartinLichtblau opened #51 "Google Map View does not adapt/scale"
Is it normal that the bottom sheet just slides over the google maps v2 view, and that the map does not adapt/scale on slide? My map stays always the same size and so when sliding the bottom sheet up I only see a fraction of the map.
Bug? or issue on my side?

[2017-08-14 10:53] VICHE89 commented on #51
You have to use collapsing mode to make move your image.

Le 14 août 2017 11:17, "MartinLichtblau" <notifications@github.com> a
écrit :

[2017-08-14 12:05] MartinLichtblau commented on #51
Thank you so much for replying @VICHE89 (y)
What do you mean by using the _collapsing mode_ on the view (the map) that should adapt accordingly?
Merci beaucoup :-)

[2017-08-14 19:47] vojtisek-michal commented on #45
I can confirm the above fix works.

Thanks @leeyc09
Would you mind creating a merge request to close this issue for others?

[2017-11-08 04:03] vjayrajput opened #52 "How to display merged appbar laypout below main appbar layout or toolbar"
How to display merged appbar laypout below main appbar layout or toolbar

[2017-11-10 06:04] vijayinnovify commented on #49
Same issue here

[2017-11-11 02:54] vjayrajput commented on #49
hi any one find solution for it

https://github.com/laenger/ViewPagerBottomSheet

[2018-01-18 09:58] OrangeHao opened #53 "How can i use listview or recyclerview in the sheet?"
A listview or recyclerview with EXACTLY height  int the sheet is not working ,I can not scroll it.

[2018-01-19 17:36] miguelhincapie commented on #53
Remember there is a param you need to config when you are using a nested list inside another one (I don't remember the name at this moment but I think you got the idea of what I'm talking about).

[2018-01-20 16:19] miguelhincapie commented on #53
Hi @OrangeHao
I think what you were looking for is `recyclerview.setNestedScrollingEnabled(false)`.
You can read about nested scroll in stackoverflow e.g. [NestedScroll](https://stackoverflow.com/q/37384640/1332549).

Give me a feed back if this is what you were missing :)

[2018-01-20 17:02] miguelhincapie commented on #52
Hi @vjayrajput
You can achieve it modifying `onDependentViewChanged()` method in all classes ending with Behavior, e.g. `MergedAppBarLayoutBehavior`.
That needs to be done because all components of the library are connected (related to their height and Y value under vertical axis).

[2018-01-20 17:05] miguelhincapie commented on #51
Hi @MartinLichtblau sorry for the late answer, just coming back to this project. Do you still need help with this?

[2018-01-20 17:10] miguelhincapie commented on #50
Did you get a solution for this? (taking back this project so I'm going to start fixing little things then the big ones)

[2018-01-20 17:15] miguelhincapie commented on #49
Hi guys,
I'm gonna try adding the behavior that @vjayrajput suggest [https://github.com/laenger/ViewPagerBottomSheet](https://github.com/laenger/ViewPagerBottomSheet)

[2018-01-20 17:17] #48 closed

[2018-01-22 04:36] OrangeHao commented on #53
Thanks for your answer.
This param is not work in the situation that nestedscrollview have the behavior.If only that a recyclerview or listview in the nestedscrollview, it is no problem.
I had try to read the source code and solve the problem,but i haven't found a good idea yet.
The way what i use now  :  If it is touch on the recyclerview,i will block the upward action or the downward action of t

[2018-01-22 05:01] OrangeHao commented on #53
Thanks for your answer.
This param is not work in the situation that nestedscrollview have the behavior.If only that a recyclerview or listview in the nestedscrollview, it is no problem.

I had try to read the source code and solve the problem,but i haven't found a good idea yet.
The way what i use now : If it is touch on the recyclerview,i will block the upward action or the downward action of th

[2018-01-22 05:12] miguelhincapie commented on #53
oh I got it, seems to be similar to this one #49 right?

[2018-02-16 12:32] frankVig opened #55 "NullPointerException at 288 line in BottomSheetBehaviorGoogleMapsLike"
hi, i just want to test your app without adding code, but i get this error:

FATAL EXCEPTION: main
                                                                                                    java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v4.widget.ViewDragHelper.processTouchEvent(android.view.MotionEvent)' on a null object reference

[2018-02-16 14:31] miguelhincapie commented on #55
Hi, did you move any gradle config? (min SDK, libraries version,...)
If not, can you give me more details about what you were doing and mobile specs (emulator or device)?

[2018-02-16 15:05] frank-vi commented on #55
Hi, thanks for the replay.
In the module-level build.gradle file i only add this library and Design Support Library.
I have reported the complete file below.

`apply plugin: 'com.android.application'

android {
    compileSdkVersion 27
    defaultConfig {
        applicationId "it.example.googlelike"
        minSdkVersion 18
        targetSdkVersion 27
        versionCode 1
        versionName "1.

[2018-02-18 11:21] Manu206 opened #56 "How to prevent STATE_COLLAPSED and STATE_HIDDEN?"
Hi, I want to only have STATE_ANCHOR_POINT and STATE_EXPANDED. Means the STATE_ANCHOR_POINT is my default state and I want users to only scroll up to STATE_EXPANDED and back again to STATE_ANCHOR_POINT.

Is there any way to achieve this?

[2018-02-18 11:23] #56 closed

[2018-02-20 12:54] repitch commented on #55
I assume it's cause 27.0.2 support library version.
Now project works on 26.1.0 version.

[2018-02-20 13:10] repitch commented on #55
I've just compared source code for original BottomSheetBehavior 26.1.0 - 27.0.2 and here what's changed:
![image](https://user-images.githubusercontent.com/9460725/36425487-11c5a580-1658-11e8-869e-bbc14a0366d8.png)
So, just need to add check mViewDragHelper for null

[2018-02-20 13:21] repitch commented on #55
After upgrading to 27.0.2 and applying this fix something happened with swipe:
![bottomsheet_after_27 0 2](https://user-images.githubusercontent.com/9460725/36426024-d9de0dd6-1659-11e8-9b46-14b3f265bef7.gif)

I'm figuring out why does it happen. For some reason `mScrollVelocityTracker.clear()` is called between `onNestedPreScroll` and `onStopNestedScroll`. So scrollVelocity is missing

[2018-02-20 15:32] miguelhincapie commented on #56
Oh sorry for being late on this post, did you find the way to achieve it?

[2018-02-20 15:34] miguelhincapie commented on #55
@repitch thank you for that, you are welcome to create a PR with that improve :)

[2018-02-20 15:38] repitch commented on #55
@miguelhincapie  Working on that!

[2018-02-20 16:42] repitch commented on #55
#57 - pull request is created

[2018-02-21 15:09] miguelhincapie commented on #55
PR merged, Thank you for that! :D

[2018-02-21 15:09] #55 closed

[2018-02-22 17:17] manufunk commented on #56
No worries I just closed it because it is a duplicate of my own thread :) I will try to implement this in a fork and after that ask you for merging it. However, it might take some time..

[2018-02-23 14:34] miguelhincapie commented on #56
oh nice! ty for that

[2018-03-17 11:42] usergoodvery commented on #55
Hi,
I have the same problem on 27.0.2. Checking the code though, where exception was thrown, the check for null suggested by @repitch doesn't seem to be in. Is this the most uptodate package: 'com.mahc.custombottomsheetbehavior:googlemaps-like:0.9.2'?

[2018-03-20 14:37] miguelhincapie commented on #55
Hi there, nope, I merged the PR but I still dont push it to bintray. Give me this week and Im gonna do it.

[2018-03-21 04:55] usergoodvery commented on #55
good on you thanks

[2018-03-27 08:54] usergoodvery commented on #55
Hi Is this updated yet?

[2018-04-02 16:12] Tweener commented on #55
Hi,

Just following up on this thread. It would be nice to have the new version, including this fix, uploaded to Bintray. Any idea of when is it supposed to be released?

This library is awesome. Thanks for sharing! Keep on the good work 👍

[2018-04-03 19:39] miguelhincapie commented on #55
Hi there, sorry for the delay, I'm going to set up travis ci, github and bintray to avoid have to do it manually every time.
Starting to look how to do it today at night.

[2018-04-03 21:57] Tweener commented on #55
Alright, thanks a lot! Hopefully you won't struggle too much to set this all up :)
Keep us posted! Cheers

[2018-04-04 21:47] miguelhincapie commented on #55
New [version 0.9.2 here](https://bintray.com/mahc/maven/CustomBottomSheetBehavior/0.9.2).

I did it manually because linking bintray with travis CI and github is hard to achieve :S.
I'm gonna keep trying, if someone wants to join me in the journery [here](https://gist.github.com/miguelhincapie/7ca32d25561fc74b3d4c497758d597ed) is the link for brintray.gradle file if you wanna understand how it wor

[2018-04-06 07:34] usergoodvery commented on #55
great thanks i'll give that a go

[2018-04-07 09:45] Tweener commented on #55
Hi @miguelhincapie !
Thanks for the upload.
About automatic upload to Bintray, I guess you meant "Travis CI", unfortunately, I've never worked with it.
I don't know if this can help but better sharing than keeping it for myself: https://github.com/mbonaci/mbo-storm/wiki/Integrate-Travis-CI-with-your-GitHub-repo

[2018-04-07 09:45] Tweener commented on #55
Also I tested the version 0.9.2, and I can confirm I don't have this NPE anymore. So problem fixed, congrats :)

[2018-04-20 22:52] michael-rapp commented on #43
I encountered the same issue and the change proposed by @cesardeazevedo solved the problem. I did not notice any negative side effects so far.

[2018-04-22 11:29] Tweener commented on #50
I can confirm this is still happening.
This is the order of states when sliding down to try to hide it:
- STATE_COLLAPSED
- STATE_DRAGGING
- STATE_SETTLING
- STATE_COLLAPSED

Any news about that behavior?

[2018-04-23 13:23] jhass commented on #49
@miguelhincapie any updates regarding that?

[2018-04-25 21:16] miguelhincapie commented on #43
ok, so I think we can close this issue right?

[2018-04-25 21:20] miguelhincapie commented on #50
No, but I'm going to put it in the list of my to-do :D... or if you wanna do it, go ahead

[2018-04-25 21:24] miguelhincapie commented on #49
Nope, not enough time to work in this project 😅 . I saw the desired behavior and is easily to implement.
If someone wants to give a hand with this, go ahead! help the community :)

[2018-04-25 21:46] michael-rapp commented on #43
The fix works, yes. But it is not part of this repository, is it?

[2018-04-25 21:52] cesardeazevedo commented on #43
I think this should be definitely part of this repository, i just didn't created a pull request earlier because i wasn't sure of any side effects, but i haven't seen so far.

@michael-rapp would you mind to create a pull request?

[2018-04-26 20:09] Tweener commented on #50
I guess I'm like everyone else, I don't have time! 😆 If I can manage to find time, I'll do a PR, but you should not count on me.

[2018-04-29 14:17] michael-rapp commented on #43
I have created a pull request (https://github.com/miguelhincapie/CustomBottomSheetBehavior/pull/59) including the changes I used to solve this issue. My solution is slightly different from the one suggested by @cesardeazevedo as I think that the variables `mState` and `mLastStableState` should always be set together. As mentioned before, I did not encounter any regressions after applying this patc

[2018-04-30 13:15] usergoodvery opened #60 "main status bar color"
hi

you seem to be changing the color of the system status bar to blue. How do I disable that? Why would the library want to do that anyway?

[2018-04-30 15:09] miguelhincapie commented on #60
Hi there,
You'r right, the color of the status bar is getting changed, it's related to the animation with the AppBarLayout.

You can disable it looking wher the color defined in XML are being used (like 3 or 4 points in code) and modifying the code to do whatever you need.

At the beginning, the library was a single project created to help people looking a way to do what I did. With the time and w

[2018-05-14 09:39] panospyrakis opened #61 "crash with compile sdk version"
I get this crash when i updated compile sdk version.
[code]

[2018-05-23 20:32] ze3cru opened #62 "The view is not associated with BottomSheetBehaviorGoogleMapsLike"

[2018-05-25 13:10] ze3cru opened #63 "FATAL error on Viewdragger helper"
I have got an exception : Attempt to invoke virtual method 'void android.support.v4.widget.ViewDragHelper.processTouchEvent(android.view.MotionEvent)' on a null object reference

Do you have any suggestion to solve this problem?

[2018-05-25 13:34] NagyGyorgyKristof commented on #61
i have the same problem how do I solve it ? which compile version is supported?

[2018-06-06 16:16] insacc commented on #61
Adding
`if (mViewDragHelper == null) {
        mViewDragHelper = ViewDragHelper.create(parent, mDragCallback);
} `

before to the call on the `onTouchEvent()` would be the workaround for now.

` mViewDragHelper.processTouchEvent( event );`

[2018-06-11 12:43] ze3cru opened #66 "How do I change MargedAppBarLayout's TitleTextColor?"

[2018-06-11 20:43] insacc commented on #63
This is solved with PR #64, should be closed

[2018-06-11 20:44] insacc commented on #60
I'm not sure if this is still a wanted feature but I'll do it soon.

[2018-06-12 14:48] ze3cru opened #67 "to vit001: How do I use your CustomBottomSheetBehavior custom lib (with your own viewpager)?"
please coulde helpme, how do I use your CustomBottomSheetBehavior lib via gradle ?

[2018-06-12 15:17] vit001 commented on #67
It is not hosted on maven, sorry. You need to download and host yourself, or include as a module in your project.

[2018-06-12 15:36] NagyGyorgyKristof commented on #67
why did not you host it?It's amazing and I and I think many of people would be wondering if you do that.

However if you won't it's your decision.

[2018-06-12 17:30] #63 closed

[2018-06-12 17:35] miguelhincapie commented on #67
@vit001 I have to easy options for you:
1. You can create a branch in this project and I will upload it in order to be able to be used via gradle
2. I can teach you how to do it, there are lot of tutorials of it... but they are bad as $%#.

If you ask me I whish you do the first one :)

[2018-06-12 18:11] vit001 commented on #67
Sorry but I have zero time available to do it. The best approach is one of
the two I mentioned. Sorry.

On Tue, Jun 12, 2018 at 10:35 AM, MiguelHincapieC <notifications@github.com>
wrote:

[2018-07-14 14:53] luis901101 opened #68 "Parallax effect and Merged AppBar problems"
I have had problems with the parallax effect (BackdropBottomSheetBehavior) and the (MergedAppBarLayoutBehavior) in some specific devices: LG K20 Android 7.0 and Samsung Note 8 Android 7.0 The Backdrop element doesn't move always, some times it freezes anywhere in the middle when changing from COLLAPSED to ANCHOR_POINT and reverse. In addition the MergedAppBarLayoutBehavior behaves similar when cha

[2018-07-15 15:02] mrmosi13 commented on #61
can you upload "BottomSheetBehaviorGoogleMapsLike.java" file ? i put this code in line 274 but nothing change !!
i really confused :(
can you guide me ? please

thanks really

[2018-07-15 16:31] miguelhincapie commented on #61
Hi @mrmosi13,

I'm sorry but I really don't understand what are you talking about. Can you give me more details please?
A list of things, let me know if this can help you:
1. I thought I had uploaded last merge code in bintray, am I wrong?
2. Do you import the library using gradle? Instruction about how to do it are in readme file or main page of this project.
3. this issue was about an error comp

[2018-07-15 16:37] miguelhincapie commented on #68
Neither I but I'm guessing it's related to Android 7.0 . Have you tried with devices with another SO version? like 5.0, 6.0, 7.1.1, 8
It would be good if we can know in which OS is happening.

At this moment I'm too bussy, so I can't help you in the search, if you can found the problem and create a pull request with the solution, the community will say thank you :)

[2018-07-16 14:06] luis901101 commented on #68
I have tested all that versions, even custom and stock in devices like Samsung, HTC, LG, Xiaomi, BLU, Sony and only this 2 devices shows the problem, I think is something related to a firmware customization by OEM  because I have tested in Note 8 but diferent android version and works fine, then after update OS, the problem shows again

[2018-07-16 16:25] miguelhincapie commented on #68
So can we say it's happening only in LG K20 Android 7.0 and Samsung Note 8 Android 7.0 as you said before right?
If so we have 2 options:
1. you can debug the library using those device in order to find whats going on and create a pull request.
2. if you don't have time for it, you can leave the steps needed to reproduce the issue and I hope some day I can have free time to check it. Besides I wil

[2018-07-16 20:35] luis901101 commented on #68
I wouldn't like to say only in LG K20 and Note 8 Android 7.0 because there are lots of devices I have not tested but it is a start point. I had the chance to debug the lib in the LG K20 (a friend's phone) but it was too little time and I didn't get anything wrong.
I have the apk lib sample installed in my phone (S7 in which works perfectly) and every time I can I test it in other devices in order

[2018-07-17 02:53] miguelhincapie commented on #68
I don't understand about the LG K20, can you reproduce the issue in a real device or not?

[2018-07-17 12:45] luis901101 commented on #68
Of course the issue can be reproduced in a real device that's what I have been talking all the time specifically the LG K20 and Note 8. (Sorry if I wasn't clear about this) To reproduce the issue just clone this lib, open it with Android Studio and click Run... The issue appears only in LG K20 and Note 8 with Android 7.0 AFAIK.

I mean I didn't find any bug debugging but the lib behaves wrong.

Li

[2018-07-17 16:15] miguelhincapie commented on #68
oh I got it! well first of all thank you for sharing what you found.
Second, you are right, we need to found what's going on in those devices.
and third, thank you for recommend the library :D.

[2018-09-03 02:47] mamomia commented on #61
im having this same issue, any solution?

[2018-10-07 13:43] alejandroaap opened #70 "Wrong behavior when the keyboard is shown"
When the keyboard is shown, an erroneous behavior occurs and the image and the navigation bar are displayed. Any solution?

[2018-11-13 10:46] imagineDev opened #71 "What to do if PeekHeight > ToolbarHeight + StatusBarHeight"
I want what Google does, even if my peek height is greater than height of toolbar + status bar it should still hide that content behind the toolbar.

[2018-12-18 17:58] jeffreyliu8 opened #73 "crash with sdk 28"
2018-12-18 09:57:07.174 27230-27230/com.askjeffreyliu.myapplication E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.askjeffreyliu.myapplication, PID: 27230
    java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v4.widget.ViewDragHelper.processTouchEvent(android.view.MotionEvent)' on a null object reference
        at com.mahc.custombottomsheetbehavior.B

[2019-01-26 14:34] insacc commented on #61
@mamomia it should be fixed with the latest version, are you using the latest one?

[2019-01-26 22:31] clevertrevor commented on #73
I ran into the same issue on SDK 28. I noticed that the library code retrieved in my project does not match the library code in Github. The code on Github has a fix to initialize `ViewDragHelper`. I ended up coping the Github code into my own project and doing some minor modifications to make it work with the library. Below is my version. The modifications are:
1. only broken part is line 158 wher

[2019-02-07 19:29] #50 closed

[2019-05-30 12:56] vkrm26 opened #78 "Backdrop View is not showing properly in some cases, it doesn't animate to Anchor point."
I'm using View pager as backdrop view but sometimes when i scroll up then it's not showing.
I debugged this issue in BackdropBottomSheetBehavior and found that onDependentViewChanged is not getting called in this case. So it remains at that position forever.

[2019-09-04 07:58] imagineDev opened #79 "Header card should completely hide behind Toolbar"
Refer Google Maps, The Bottom sheet header card where Place Name and Address is mentioned when going into Expanded state the whole header gets hide behind the toolbar no matter how much the size of the header card.
[Check the Attached Gif]

I am facing trouble implementing that.
Please help.

![ezgif com-optimize](https://user-images.githubusercontent.com/15804567/64236325-cce0e900-cf17-11e9-95ff-

[2019-10-02 11:19] koyinusa commented on #73
Just update the library to use the latest version
    implementation 'com.mahc.custombottomsheetbehavior:googlemaps-like:0.9.4'

[2020-02-15 06:31] monxarat opened #81 "Use in Kotlin has an error"
I have used this component in Kotlin code. The below errors have occurred.
[code]

[2020-02-27 16:21] monxarat opened #82 "how to add custom view Toolbar when set STATE_EXPANDED"
Hi guy,
I want to add an EditText to ToolBar when BottomSheet show full (STATE_EXPANDED)

![device-2020-02-28-012013](https://user-images.githubusercontent.com/4075787/75463097-a2ed1880-59c8-11ea-9575-99a305fa06cd.png)

[2020-04-01 18:08] mtariquekhan opened #83 "Anchor Point state is not proper when it is set to 156dp"
When I set "app:anchorPoint=156dp" then it doesn't take the actual height on Anchor_State.
Although If I set it to 300dp it works fine.
Have u added any minimum threshold for anchor point?

[2020-04-04 14:48] #83 closed

[2020-05-06 15:20] svrlopatrik opened #84 "Disable dragging on BackdropBottomSheetBehavior"
Hello,
did somebody try to disable dragging on a view which uses **BackdropBottomSheetBehavior**?

I use this behavior on ViewPager which cause interference with right/left swiping of pages so I want to keep dragging only over **NestedScrollView** which uses **BottomSheetBehaviorGoogleMapsLike** and disable it on ViewPager which uses **BackdropBottomSheetBehavior**.

Any ideas how to achieve it?

[2020-09-03 16:03] martinmihalic opened #85 "Clashing in defaultState attribute naming with ConstraintLayout 2.0"
`ConstraintLayout` **2.0** is used in combination with `MotionLayout` which has `StateSet` property which is defined like this:

`<declare-styleable name="StateSet"><attr format="reference" name="defaultState"/></declare-styleable>`

You should rename your `CustomBottomSheetBehavior` attribute `defaultState` to something else, otherwise the lib will not build with `ConstraintLayout 2.0`.

Thanks i

[2021-01-29 07:09] mortenholmgaard commented on #85
I have the same issue - really need a fix for this!

[2021-02-02 06:16] xuyisheng commented on #85
I have the same issue - really need a fix for this too!！

[2022-07-25 18:50] MrzDevApp opened #87 "Could not find com.mahc.custombottomsheetbehavior:googlemaps-like:0.9.4. in Gradle 7.2"
Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/mahc/custombottomsheetbehavior/googlemaps-like/0.9.4/googlemaps-like-0.9.4.pom
       - https://repo.maven.apache.org/maven2/com/mahc/custombottomsheetbehavior/googlemaps-like/0.9.4/googlemaps-like-0.9.4.pom
     Required by:
         project :app

[2022-07-25 19:06] MrzDevApp commented on #87
Solo agregue el repositorio y plugin         ### jcenter()  a el archivo settings.graddle , así se mira el archivo:

pluginManagement {
    repositories {
        gradlePluginPortal()
        google()
        mavenCentral()
        jcenter()
    }
}
dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
        google()
        mavenCen